<mat-card-title class="title">Apresentação</mat-card-title>
<p class="description">Aqui você encontrará os livros escritos por Vincent W. Grimmer. Clique nas histórias, leia suas introduções e entre o contado para pedir o seu e ter uma ótima leitura</p>

<mat-card-title class="subtitle">Livros de Vincent W. Grimmer</mat-card-title>
<mat-card class="books">
    <mat-card-subtitle class="booktitle">A Jornada de Laila</mat-card-subtitle>
    <img class="bookimg" src="" alt="">
    <p class="bookdescription">{{aJornadaDeLaila}}</p>
</mat-card>

<mat-card class="books">
    <mat-card-subtitle class="booktitle">A Jornada de Laila</mat-card-subtitle>
    <img class="bookimg" src="" alt="">
    <p class="bookdescription">{{vidasOcultas}}</p>
</mat-card>
