.all {
    display: flex;
    align-items: center;
    background-color: rgb(167, 124, 87);
    color: white;
    padding: 1vw;

    .logo {
    max-width: 10vw;
    border-radius: 50%;
    margin-left: 0.5rem;
    }

    .title {
        margin-left: 2rem;
        font-size: 4vw;
    }
}