.footer {
    display: grid;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 1rem 0 1rem 0;
    background-color: rgba(167, 124, 87, 0.412);

    p {
        margin: 5px;
    }
}